<div class="app-container">
  <h2>MdcAutocomplete</h2>
  <mdc-autocomplete #autocomplete (itemSelected)="onItemSelected($event)">
    <mdc-autocomplete-list [maxVisibleItems]="100">
      <mdc-autocomplete-list-item *ngFor="let item of getItems() | async" [value]="item" [filterString]="item.name">
        <img class="item-icon" src="{{item.icon}}"/>
        <span class="item-name">{{item.name}}</span>
      </mdc-autocomplete-list-item>
    </mdc-autocomplete-list>
  </mdc-autocomplete>

  <div *ngIf="selectedItem">
    <h3>Selected Item:</h3>
    <div>
        <img class="item-icon" src="{{selectedItem.icon}}"/>
        <span class="item-name">{{selectedItem.name}}</span>
    </div>
  </div>
</div>
